
/*footer {
    width: 100vw;
	height: 10vh;
	color: #000;
	font: 1.8rem Roboto, Montserrat, sans-serif;
	position: relative;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
    z-index: 10;
}
*/